.npm
.yarn
.local
.ipython
.ipynb_checkpoints
.jupyter/.ipynb_checkpoints/
.jupyter/lab/workspaces/
.cache
.bash_history
mnist_dataset/*.csv
makeyourownneuralnetwork/mnist_dataset/*.csv
makeyourownneuralnetwork/mnist_dataset/*.gz
